---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos de moi | NEVES Yoan" description="présentation des projets">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos de moi "
				tagline="Merci de vous être arrêté. Je vais maintenant vous parler un peu plus de moi et de ma personnalité."
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait-ai.jpg"
					alt="Un portrait fait par une ia"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Salut, je m'appelle NEVES Yoan, j'ai 20 ans et je vis en région parisienne. J'ai plongé dans le monde de la tech dès
						 mon plus jeune âge grâce à ma passion pour les jeux vidéo. J'étais toujours devant mon ordinateur, à créer des 
						 serveurs Minecraft et à cracker des jeux (oui, je sais, ce n'est pas bien xD). Mais au fond, j'ai toujours su me débrouiller 
						 et trouver des solutions sur le net. C'est pourquoi le métier de développeur m'a beaucoup attiré.

					</p>
					<br>
					<p>
						Après avoir obtenu mon BAC Pro Système numérique, j'ai commencé un BTS SIO au CFA UTEC à Emerainville. Cependant, je n'étais pas sûr de la voie à suivre, alors 
						j'ai décidé de prendre une année sabatique. Pendant cette année, j'ai pensé que le sport pourrait être ma vocation. J'ai même vlogué mon
						 aventure pour atteindre mon objectif, tu peux le retrouver sur ma chaîne YouTube juste au-dessus.
					</p>
					<br>
					<p>
						Cette expérience m'a appris de nombreuses choses, comme l'art d'apprendre à apprendre (oui, c'est curieux), à me vendre, 
						à vivre avec peu de moyens et à avoir un objectif. Après avoir exploré cette voie, j'ai décidé de revenir dans le monde de la tech. 
						Aujourd'hui, cela me permet d'avoir une vision globale du monde du travail et de savoir comment travailler dur.
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Éducation</h2>
				<div class="content">
					<p>
						<b>
						BAC PRO Système Numérique 2017/2020
						</b>
					</p>
					<br>
					<p>
						<b>
						BTS SIO SLAM 2020/2021
						</b>
					</p>	
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Autonome, Régulier, Ponctuel et Déterminé</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
